<div class="mt-2 mb-3 favorites">
    {% if words is not empty %}
    {% for word in words %}
        <a href="/search?q={{ word.word }}" data-word="{{ word.word | title }}" class="btn btn-outline-primary btn-sm m-1">
            <span> {{ word.word }} </span>
            <iconify-icon icon="ci:off-close" class="btn-remove"></iconify-icon>
        </a>
    {% endfor %}
    {% else %}
        <h5 class="text-muted mt-5">You have no words in favorite list.</h5>
    {% endif %}
</div>
{% if words is not empty %}
    <a href="/favorites/export-as-csv" class="btn btn-success" id="export-button">Export<iconify-icon class="btn-icon" icon="bi:filetype-csv"></iconify-icon></a>
{% endif %}
