{# {% extends 'base.html.twig' %} #}
{% block content %}
    <div class="row justify-content-md-center text-center">
        <div class="col-4">
            <div id="chartdiv"></div>
        </div>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                am4core.ready(function () {
                    var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);

                    chart.fontFamily = "Courier New";
                    var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
                    series.randomness = 0.1;
                    series.rotationThreshold = 0.5;

                    series.data = [
                        {% for Tag in topTags %}
                        {
                            'tag': '{{ Tag.word }}',
                            'count': '{{ Tag.cnt }}'
                        },
                        {% endfor %}
                    ];


                    series.dataFields.word = "tag";
                    series.dataFields.value = "count";

                    series.heatRules.push({
                        "target": series.labels.template,
                        "property": "fill",
                        "min": am4core.color("#0a5cde"),
                        "max": am4core.color("#33b5fd"),
                        "dataField": "value"
                    });

                    series.labels.template.url = "/search?q={word}";
                    series.labels.template.urlTarget = "_blank";
                    series.labels.template.tooltipText = "{word}: {value}";

                    var hoverState = series.labels.template.states.create("hover");
                    hoverState.properties.fill = am4core.color("#21e568");

                });
            });
        </script>
    </div>
    <!--<a href="/search?q= Tag.word }}" class="btn btn-outline-primary btn-sm m-1">
                            <span> Tag.word }}
                                <sup> Tag.cnt }}</sup>
                            </span>
                        </a>-->
{% endblock %}
