{#  {% extends 'base.html.twig' %} #}
{% block content %}
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-12 btn-toolbar">
                {% for Tag in topTags %}
                        <a href="/search?q={{ Tag.word }}" class="btn btn-outline-primary btn-sm m-1">
                            <span>{{ Tag.word }}
                                <sup>{{ Tag.cnt }}</sup>
                            </span>
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
