#chartdiv {
    width: 100%;
    min-height: 400px;
    max-height: 700px;
}


.page-container {
}

.wrapper {
}

.footer{
    width: 100%;
}

.star{
    color: #9a9a9a;
    cursor:pointer;
}
.star:hover{
    color: #646464;
}
.is-favorite{
    color:yellow;
}
