{% extends 'base.html.twig' %}

{% block content %}
    <div class="container p-3 mx-auto mt-4">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <form class="input-group" action="/search">
                    <input type="search" id="search" name="q" class="form-control" placeholder="Search..."
                           required/>
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        {% include 'blocks/_tag_cloud.html.twig' %}

    </div>
{% endblock %}
