{% extends 'base.html.twig' %}

{% block content %}
    <div class="container p-3 mx-auto">
        <div class="row">
            <form class="input-group mt-1" action="/search">
                <input type="search" id="search" name="q" class="form-control" placeholder="Search definition..."
                       required/>
                <button class="btn btn-outline-primary">Search</button>
            </form>
        </div>
        {% include 'blocks/_tag_cloud.html.twig' %}
    </div>
{% endblock %}
