{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Favorite words</h3>
        {% include 'blocks/_favorites.html.twig' %}
    </div>
{% endblock %}
